.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #5277a3;

  padding: 1.2rem 3rem 0.6rem;
}

.header .image-wrapper {
  width: 25%;
}

.header .image-wrapper>img {
  width: 40px;
  height: 40px;
}

.header .wrapper {
  position: relative;

  height: 35px;

  display: flex;
  align-items: center;

  padding-left: 16px;
  width: calc(75% - 16px);

  border-radius: 30px;
  background-color: #2c4a76;
}

.header .wrapper>input {
  width: 100%;
  background-color: transparent;

  color: white;

  border: none;

  outline: none;
}

.header .wrapper>input::placeholder {
  text-align: center;
  color: #607d9f;
}

.header .wrapper>input:focus::placeholder {
  color: transparent;
}

.header .wrapper>svg {
  width: 18px;
  height: 18px;

  position: absolute;
  left: 275px;
  fill: #607d9f;
}